@import 'tailwindcss/theme.css' layer(tailwind-theme);
@import 'tailwindcss/preflight.css' layer(tailwind-base);
@import 'tailwindcss/utilities.css' layer(tailwind-utilities);
@import 'primeicons/primeicons.css';

@layer tailwind-theme, tailwind-base, primevue, tailwind-utilities;
/* @config '../../../tailwind.config.js'; */
/* @plugin "@tailwindcss/typography"; */
@plugin 'tailwindcss-primeui';

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  --font-sans: 'Geist', system-ui, sans-serif;

  --animate-scaleIn: scaleIn 150ms ease;
  --animate-scaleOut: scaleOut 150ms ease;
  --animate-fadeIn: fadeIn 150ms ease;
  --animate-fadeOut: fadeOut 150ms ease;
  --animate-enterFromLeft: enterFromLeft 150ms ease;
  --animate-enterFromRight: enterFromRight 150ms ease;
  --animate-exitToLeft: exitToLeft 150ms ease;
  --animate-exitToRight: exitToRight 150ms ease;
  --animate-overlayShow: overlayShow 200ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-contentShow: contentShow 200ms cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes contentShow {
    from {
      opacity: 0;
      /* transform: translate(-50%, -50%) scale(0.96); */
      transform: scale(0.92);
    }
    to {
      opacity: 1;
      /* transform: translate(-50%, -50%) scale(1); */
      transform: scale(1);
    }
  }

  @keyframes enterFromRight {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enterFromLeft {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes exitToRight {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(200px);
    }
  }

  @keyframes exitToLeft {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.9);
    }
    to {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
  }

  @keyframes scaleOut {
    from {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
    to {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.95);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  .md-content {
    /* @apply prose dark:prose-invert max-w-none; */
    /* @apply prose dark:prose-invert dark:print:prose prose-headings:my-2 prose-h1:text-2xl prose-h1:font-bold prose-h2:text-xl prose-hr:my-6 prose-hr:border-gray-200 dark:prose-hr:border-zinc-700 max-w-none
    prose-h3:text-lg
    ;

    @apply prose-a:font-medium prose-a:no-underline prose-a:transition prose-a:hover:border-b;

    @apply prose-a:hover:text-color-emphasis dark:prose-a:hover:text-primary-100;

    @apply prose-a:prose-headings:border-b-0 prose-a:prose-headings:border-primary-500 prose-a:hover:prose-headings:border-b;

    @apply prose-p:my-2.5; */
  }
}
